        .firstname,
        .lastname{
          margin: 1px;
          padding: 10px 15px;
          width: 115px;
          height: 20px;
          border-style: solid;
          border-width: 1px;
          border-color: rgb(150,150,150);
          border-radius: 5px;
        }
        
        .email{
          display: block;
          margin-top: 10px;
          width: 270px;
          height: 20px;
          padding: 10px 14px;
          border-style: solid;
          border-width: 1px;
          border-color: rgb(150,150,150);
          border-radius: 5px;
        }
        
        button{
          font-size: 18px;
          font-weight: bold;
          color: white;
          background-color: rgb(37,118,209);
          margin-top: 15px;
          padding: 15px 120px;
          border-radius: 5px;
          border: none;
        }
