        p{
          font-family: Arial;
          font-size: 30px;
          margin-bottom: 20px;
        }
        
        .pickup,
        .destiny{
          display: block;
          margin-bottom: 10px;
          padding: 10px 20px;
          width: 260px;
          background-color: rgb(240,240,240);
          border: none;
        }
        
        .request{
          margin-top: 20px;
          margin-right: 5px;
          padding: 10px 15px;
          color: white;
          background-color: black;
          border: none;
        }
        
        .later{
          border: none;
          background-color: rgb(240,240,240);
          padding: 10px 15px;
          margin-left: 5px;
        }
